page-menu-lateral {

    .sidemenu {
        height: 100%; 
        width: 15%; 
        position: fixed; 
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #3b4441; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        // padding-top: 20px;
    }

    .menu-content {
        margin: 30% 0 0 0;
        
    }

    .menu-button {
        background-color: #3b4441;
        color: map-get($colors, light);
        // padding-right: 20px;
    }

    .menu-icon {
        background-color: #3b4441;
        font-size: 30pt;
        padding-right: 20px;
    }

}
