page-index {
    .page-container {
        background-color: #d3dad5 !important;
        
    }
    .container {
        width: 85%;
        height: auto;
        position: absolute;
        right: 0;
    }
    
}
